[Desktop Entry]
Type=Application
Name=Open CoD:UO
GenericName=Multiplayer Shooter
Comment=Open-source client for Call of Duty: United Offensive multiplayer
Exec=CoDUOMP
Icon=opencoduo
Terminal=false
Categories=Game;ActionGame;
Keywords=call of duty;united offensive;cod;uo;multiplayer;fps;
StartupWMClass=CoDUOMP
